<div class="container">
	<div class="header">
		<h1> Resto Hyper bien </h1>

		<h2> Miam on manger bien ici </h2>

		<form id="buttons">
			<input type="button" id="button1" value="Présentation"> 
			<input type="button" id="button2" value="Menu">
			<input type="button" id="button3" value="Loreum"> 
		</form>
	</div>
	<div class="contenu">
		<p id="cont1">notre restaurant est l'un des meilleurs en ce qui est niveau qualité ou autre </p>
		<p id="cont2">Plusieurs menus sont proposés :<br>
			-les menus étudiants<br> 
			-les menus régime<br>
			-les menus prise de masse<br>
			-les menus prise de force<br> 
		</p>
		<p id="cont3">loreum denim besiktas golum</p>
	</div>
</div>
